<div class="jumbotron">
<%= image_tag("logo3.png",  :alt =>"World finance of countries") %>
<%= image_tag("logo5.png",  :alt =>"World country economy status of Countries") %>
</div>

<p>
   <%=link_to 'Find Countries', countries_path %> |
   <%=link_to 'Find Years', years_path %>
</p>

