
<%= image_tag("logo3.png",  :alt =>"World finance of countries") %>
<%= image_tag("logo5.png",  :alt =>"World country economy status of Countries") %>
  
<p>
   <div class="container-fluid"> 
    <%=link_to 'Find Countries on map', countries_path %> |
    <%=link_to 'Find Years by chart', years_path %>   
</div>
</p>